body {
  background-color: #37474f;
  font-family: -apple-system, 'avenir next', avenir, roboto, noto, ubuntu, 'helvetica neue', helvetica, arial, sans-serif;  
}

.App 
{
  text-align: center;
  max-width: 36em;
  margin-left: auto;
  margin-right: auto;  
  padding-left: 1rem;
  padding-right: 1rem;
}

.App-header 
{
  padding-top: 4rem;
  padding-bottom: 4rem;
}

#logo {
  max-width: 200px;
}

/* .App-input
{
  padding-bottom: 1rem;  
} */

.App-intro 
{
  font-size: large;
}

@keyframes App-logo-spin
{
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
